<h2>All Your Books</h2>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-xs-6 col-md-3">
      <a href="/photos/<%= %>" class="thumbnail">
        <img src="">
      </a>
      <%= "#{book.title} by #{book.author}" %>
    </div>
  <% end %>
</div>
